.about-container {
    border-bottom: 2px solid #909090;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.contents {
    flex-direction: row;
    display: flex;
}

.header {
    color: #383838;
    margin: 0;
}

.header-icon {
    height: 25px;
}

.desc {
    color: #5c5c5c;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
}

.contents-container {
    display: flex;
    flex-direction: row;
} 

@media only screen and (max-width: 600px) {
    .contents-container {
        flex-direction: column;
    }
}
  
@media only screen and (min-width: 600px) {
    .contents-container {
        flex-direction: column;
    }
}
  
@media only screen and (min-width: 768px) {
    .contents-container {
        flex-direction: column;
    }
}
  
@media only screen and (min-width: 992px) {
    .contents-container {
        flex-direction: column;
    }
}
  
@media only screen and (min-width: 1200px) {
    .contents-container {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1800px) {
    .contents-container {
        flex-direction: row;
    }
}