.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents {
    flex-direction: row;
    display: flex;
}

.header {
    color: #383838;
    margin: 0;
}

.desc {
    color: #5c5c5c;
    font-weight: 500;
    font-size: 18px;
    width: 50%;
}

.picture {
    border-radius: 10px;
    margin-left: 70px;
    width: 250px;
    height: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}