.landing-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    color: #909090;
    margin: 0;
    font-size: 32px;
}

.name {
    color: #383838;
    margin: 0;
    font-size: 70px;
}

.short-desc {
    color: #5c5c5c;
    margin: 0;
    font-size: 34px;
}

.contact-icons {
    margin-top: 20px;
}

.icon {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.pic {
    border-radius: 20px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 8px solid white;
}

@media only screen and (max-width: 600px) {
    .landing-container {
        flex-direction: column-reverse;
    }

    .pic {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .landing-container {
        flex-direction: column-reverse;
    }

    .pic {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .landing-container {
        flex-direction: column-reverse;
    }

    .pic {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
  }

  @media only screen and (min-width: 992px) {
    .landing-container {
        flex-direction: row;
    }

    .pic {
        margin-left: 40px;
    }
  }